/**************************************************************************************************\
*
* vim: ts=3 sw=3 et wrap go-=b
*
* Filename: "styles.css"
*
* Project: Common.
*
* Purpose: Stylesheet for Anagram Game.
*
* Author: Tom McDonnell 2012-05-20.
*
\**************************************************************************************************/

*
{
   padding: 0;
   margin: 0;
}

#links-div
{
   margin-bottom: 40px;
   margin-top: 10px;
   text-align: center;
}

#anagram-game-table
{
   width: 100%;
}

#anagram-game-table td
{
   text-align: center;
}

#anagram-game-table tr.instructions-tr td
{
   padding-bottom: 130px;
}

#anagram-game-table tr.clue-tr td
{
   font-family: monospace;
   font-size: 70px;
   padding-bottom: 150px;
   padding-top: 70px;
}

#anagram-game-table tr.clue-tr #clue-td
{
   height: 100px;
}

#anagram-game-table tr.clue-tr #clue-td span
{
}

#anagram-game-table tr.answer-tr input
{
   font-size: 16px;
   height: 30px;
   margin-top: 10px;
   width: 250px;
}

#anagram-game-table tr.answer-tr td input
{
   text-align: center
}

#anagram-game-table tr.buttons-tr td
{
   height: 70px;
}

#anagram-game-table tr.buttons-tr td input
{
   font-size: 16px;
   height: 30px;
   margin: 50px;
   width: 200px;
}

/*******************************************END*OF*FILE********************************************/
