/**************************************************************************************************\
*
* vim: ts=3 sw=3 et wrap go-=b
*
* Filename: "styles.css"
*
* Project: Common.
*
* Purpose: Stylesheet for Anagram Game.
*
* Author: Tom McDonnell 2012-05-20.
*
\**************************************************************************************************/

input
{
   width: 100%;
   text-align: center;
}

#clueTd
{
   font-size: xx-large;
   padding: 20px;
}

/*******************************************END*OF*FILE********************************************/
